.add {
  padding-top: 100px;
  h2 {
    align-self: start;
    margin-left: 5px;
    color: rgb(122, 158, 197);
    margin-bottom: 5px;
  }
  .box {
    input {
      border: none;
      padding: 1rem 0;
      width: 550px;
      border-radius: 5px;
      font-size: 1rem;
      padding-left: 10px;
    }
    button {
      margin-left: 5px;
      padding: 0.4rem 1.2rem;
      vertical-align: middle;
      background-color: rgb(122, 158, 197);
      border: none;
      color: white;
      font-size: 2rem;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
