* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container {
  background: linear-gradient(#deeaf4, #dae0f4);
  width: 700px;
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .wrap {
  width: 90%;
  margin-top: 2rem;
}
body .container .wrap h1 {
  font-size: 3rem;
  color: rgba(22, 120, 169, 0.767);
  margin: 0.5rem 1rem;
}
body .container .wrap h3 {
  color: rgb(122, 158, 197);
  margin: 0 1rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid rgb(122, 158, 197);
}
body .container .wrap .progress {
  margin: 1rem;
  text-align: center;
  color: rgb(122, 158, 197);
}
body .container .wrap .progress progress {
  width: 510px;
  height: 60px;
  margin-left: 15px;
  vertical-align: middle;
}
body .container .wrap .sort {
  margin: 1rem;
  border-top: 3px solid rgb(122, 158, 197);
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(122, 158, 197);
}
body .container .wrap .sort .big-btn {
  display: flex;
  align-items: center;
  background-color: white;
  width: 50px;
  height: 30px;
  border-radius: 3rem;
  margin-left: 5px;
}
body .container .wrap .sort .big-btn .small-btn {
  background-color: rgb(122, 158, 197);
  width: 28px;
  height: 28px;
  margin-left: 1px;
  border-radius: 50%;
  cursor: pointer;
}
body .container .wrap .sort .sort-big-btn {
  display: flex;
  align-items: center;
  background-color: rgb(122, 158, 197);
  width: 50px;
  height: 30px;
  border-radius: 3rem;
  margin-left: 5px;
}
body .container .wrap .sort .sort-big-btn .sort-small-btn {
  background-color: white;
  width: 28px;
  height: 28px;
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.add {
  padding-top: 100px;
}
.add h2 {
  align-self: start;
  margin-left: 5px;
  color: rgb(122, 158, 197);
  margin-bottom: 5px;
}
.add .box input {
  border: none;
  padding: 1rem 0;
  width: 550px;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 10px;
}
.add .box button {
  margin-left: 5px;
  padding: 0.4rem 1.2rem;
  vertical-align: middle;
  background-color: rgb(122, 158, 197);
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 1rem;
  min-height: 60px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.item .itemHeader {
  width: 10px;
  height: 60px;
  background-color: rgb(122, 158, 197);
}
.item input {
  width: 28px;
  height: 28px;
  margin: 0 20px;
  flex: 1;
  accent-color: rgb(88, 151, 217);
}
.item p {
  color: rgb(122, 158, 197);
  font-size: 2rem;
  flex: 9;
  word-wrap: break-word;
  width: 100px;
}
.item .btn-delete {
  color: rgb(122, 158, 197);
  font-size: 1.5rem;
  cursor: pointer;
  flex: 1;
}
.item .strike-through {
  text-decoration: line-through;
}

.list {
  height: 320px;
  overflow: auto;
}/*# sourceMappingURL=style.css.map */